* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  min-height: 100vh;
  color: white;
}

.app {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.row {
  background: #334155;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 18px;
  display: flex;
  align-items: center;
  font-size: 18px;
  transition: 0.2s;
}

.row:hover {
  background: #475569;
  transform: scale(1.01);
}