* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  min-height: 100vh;
  transition: 0.3s;
}

.light {
  background: #f1f5f9;
  color: #111;
}

.dark {
  background: #0f172a;
  color: white;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.dark .card {
  background: #1e293b;
  color: white;
}

.btn {
  margin-top: 10px;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  border: none;
  background: crimson;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}